.button {
    font: inherit;
    border: 1px solid #9c941b;
    background: #155818;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #25793a;
    border-color: #888611;
  }
  
  .button:focus {
    outline: none;
  }